@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row justify-content-md-center">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Adresář @ViewData["Company"]</h1>
                    <p class="card-text">Po stisknutí tlačítka vyčkejte na načtení kompletního adresáře.</p>
                    <a href="/AddressBook" class="btn btn-lg btn-outline-primary">Adresář</a>
                </div>
            </div>
        </div>
    </div>
</div>
